apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptime-app
  namespace: uptime
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: uptime-app
  template:
    metadata:
      labels:
        app: uptime-app
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: uptime-app
          image: rutwikrp/uptime-monitor:IMAGE_TAG
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              value: postgresql://postgres:postgres@postgres:5432/uptime_monitor
            - name: PORT
              value: "3000"
            - name: ALERT_WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: alert-secrets
                  key: ALERT_WEBHOOK_URL

          # Liveness = is the process alive?
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10

          # Readiness = can this pod receive traffic?
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5

          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 5"]
